:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: rgb(50, 50, 50);
  margin: 0;
  min-height: 100%;
}

.mainSection {
  color: goldenrod;
  display: flex;
  justify-content: center;
}
.mainSection a {
  color: goldenrod;
}

.employeeTable {
  width: 85%;
}

ul {
  background-color: goldenrod;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.titleH1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: midnightblue;
}

main a {
  text-decoration: none;
  color: midnightblue;
}

.profileImageTd {
  height: 3rem;
  border-radius: 1.5rem;
  border-style: solid;
  border-width: 2px;
}

.personalInfoSection {
  color: goldenrod;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
}
.emergencyContactInfo {
  padding: 1rem 0 2rem 0;
  color: goldenrod;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
}

.personalInfoHeader {
  background-color: darkgray;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
}

.personalInfoImageSection {
  /* height: 24rem; */
  display: flex;
  width: 80%;
}

.largeProfileImage {
  padding: 1rem 0 1rem 0;
  max-height: 20rem;
}

.personalInfoSection {
  display: flex;
}

.addEmployeeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInputSection {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-color: goldenrod;
  background-color: silver;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
}

.formInputSection > label {
  width: 45%;
  padding: 0.2rem 0 0.3rem 0;
}
.formInputSection > label > input {
  margin-left: 0.5rem;
}
.checkBoxInput {
  margin-left: 2rem;
  transform: scale(1.5);
}
.addEmployeeBtn {
  font-size: 1.5rem;
  border-color: goldenrod;
  border-width: 3px;
  border-radius: 0.5rem;
  margin: 1rem;
}

@media (max-width: 600px) {
  .formInputSection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .formInputSection > label {
    width: auto;
    padding: 0.2rem 0 0.3rem 0;
  }

  .employeeTable {
    width: 95%;
  }
}
